/vendor
/node_modules

logo.psd
public/logo.png

public/gitrevision.txt

.htpasswd
.env
.env-prod
.env-local
composer.phar
composer.lock

app/Http/Controllers/LoginController.php
config/bcLDAP.php

Homestead.yaml
Homestead.json

.idea/
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

.DS_Store
Thumbs.db
/selenium/
/tests/acceptance/tests/
/composer.lock

