/vendor
/node_modules
config/bcLDAP.php
logo.psd

.env
.env-prod
.env-local
composer.phar
composer.lock

Homestead.yaml
Homestead.json

.idea/
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

.DS_Store
Thumbs.db