/* Template Management */

.table-control {
	padding: 8px 15px 8px 15px;
}

	.table-control__create-new-template {

	}

	.table-control__search {
		padding-bottom: 8px !important;
	}

.padding-left-15 {
	padding-left: 15px !important;
}

.padding-right-15 {
	padding-right: 15px !important;
}