/*
    Add the styles to vedst.css ?
*/


.calendarWrapper{
    overflow: hidden;
}

.height10vh{
    height: 10vh !important;
}

.calendarWeek {
    text-align: left !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    width: 12.5%;
    float: left;
    margin: 0px;
    text-align: center;
    line-height: 10vh;
    height:10vh;
    border: solid;
    border-width: 1px 0px 0px 1px;
    border-color: #dddddd;
}

.weekDay {
    text-align: left !important;
    border-top-width: 0px !important;
    width: 12.5%;
    float: left;
    margin: 0px;
    text-align: center;
    line-height: 10vh;
    height:10vh;
    border: solid;
    border-width: 1px 0px 0px 1px;
    border-color: #dddddd;
}

@media screen and (max-width: 978px) {
    .weekDay{
        display: none;
    }
    
    .calendarWeek{
        display: none;
    }
}

.WeekMarker{
    background-color: #efefef;
}

@media screen and (max-width: 978px) {
    .WeekMarker{
        background-color: #098109 !important;
    }
}

.day{
    text-align: left !important;
    border-left-width: 0px !important;

}

.cell10 a:link,
.day a:link{
    color: #666666;
}

.cell10 a:hover,
.day a:hover{
    color: #040303;
}

.cell10 a:visited,
.day a:visited{
    color: #666666;
}

@media screen and (max-width: 978px) {
    .day {
        margin-top: 10vh !important;
        background-color: #076161;
        border-radius: 30px 30px 0 0;
        font-weight: bold;
        text-align: center !important;

    }

    .day a:link{
        color: white;
    }

    .day a:hover{
        color: black;
    }

    .day a:visited{
        color: white;
    }
}

.thisMonth{
    background-color: white;
}

.empty {
    display: block;
}

@media screen and (max-width: 978px) {
    .empty {
        display: none;
    }
}


.calendarRow{
    height:auto;
    display: block;
    min-height: 10vh;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}


/*
  Custom width of cols
  no longer default bootstrap cols,
  because they do not have fitting width
*/
.custom-md-85 {
    width: 12.5%;
    float: left;
    margin: 0px;
    text-align: center;
    line-height: 10vh;
    min-height:10vh;
    border: solid;
    border-width: 1px 0px 0px 1px;
    border-color: #dddddd;
}

@media screen and (min-width: 978px) {
    .custom-md-85{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    .calendarRow{
        overflow: hidden;
    }

}

@media screen and (max-width: 978px) {
    .custom-md-85 {
        width: 100%;
        border-bottom: solid;
        border-width: 3px;
        border-color: #F6F5F3;
        height: auto;
    }

    .custom-md-85:empty{
        display: none;
        height: 0px;
    }
}

/*
    space for number and space for event
*/
.cell10{
    width: 10%;
    float: left;
    position: relative;
    margin: 0px;
    text-align: center;
    line-height: 10vh;
    height: 10vh;
}

.cell90{
    width: 90%;
    float: right;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
}

@media screen and (max-width: 978px) {
    .cell90{
        padding-right: 10%;
        padding-left: 0%;
    }
}