@media all {
	.page-break	{ display: none; }
}

@media print {

	body {
	font: 11pt;
	line-height: 1.0;
	}

    * { 
    	background: transparent 	!important; 
    	color: black 				!important; 
    	text-shadow: none 			!important; 
    	filter:none 				!important; 
    	-ms-filter: none 			!important; 
    	margin: 0 					!important; 

    }

	.day-row div:nth-child(5n)
	{ 
		display: block;
		page-break-inside: avoid;
	   	white-space: pre;
	}

	.hidden-print, 
	.navigation, 
	.footer {
		display: none !important;
	}

	a[href]:after {
	  	content: none !important;
	}

	.panel-body {
	    white-space: nowrap;
	}

  	@page {
	margin: 1cm;
}
}


