.displayDesktop {
    display: block;
}

.displayMobile {
    display: none;
}

@media screen and (max-width: 978px) {
    .displayMobile {
        display: block;
    }

    .displayDesktop {
        display: none;
        width: 0 !important;
    }
}

.answerBox {
    overflow: hidden;
    position: relative;
}

.answerBox .inner-container {

}

.answerBox .names {
    overflow: hidden;
}

.answers {
    overflow-x: scroll;
}

.answers::-webkit-scrollbar {
    display: none;
}

.answers::-webkit-scrollbar {
    /*display none*/
}

.rowNoPadding {
    padding: 0;
}

.shadow{
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 10px 0 5px -2px #888;
    position: relative;
    z-index: 10;
}

.nameToQuestion {
    height: 20vh;
}

.answerToQuestion {
    width: 40vw;
    height: 20vh;
    float: left;
    background-color: transparent;
}

/*
    colors of Table
*/
.displayDesktop, .displayMobile {
    color: #666666;
}

.color1 {
    background-color: #F6F5F3;
}

.color2 {
    background-color: #a1a1a1;
}

/*
    Style of mobile elements
*/

.line{
    width: 100%;
    height: 1px;
    background-color: black;
}
/*
.form-control{
    display: block !important;
    width: 100% !important;
    height: 37px !important;
    padding: 6px 16px !important;
    font-size: 13px !important;
    line-height: 1.846 !important;
    color: #666666 !important;
    background-color: transparent !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}
*/