.displayDesktop {
    display: block;
}

.displayMobile {
    display: none;
}

@media screen and (max-width: 978px) {
    .displayMobile {
        display: block;
    }

    .displayDesktop {
        display: none;
    }
}

.answerBox {
    overflow: hidden;
    position: relative;
}

.answerBox .inner-container {

}

.answerBox .names {
    overflow: hidden;
}

.answers {
    overflow-x: scroll;
}

.answers::-webkit-scrollbar {
    /*display none*/
}

.rowNoPadding {
    padding: 0;
}

.nameToQuestion{
    height: 20vh;
}

.answerToQuestion{
    width: 40vw;
    height: 20vh;
    float: left;
}