/**
 *  Bootstrap overrides
 */

body {
  background-color: #f6f5f3;
}

table {
  background-color: #ffffff;
  margin-bottom: 0 !important;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #fbfbfb;
}

.table-borderless td, 
.table-borderless th { 
  border: 0 !important;
  padding: 0 !important;
}

.navbar-brand {
  float: left;
  padding: 8px 15px;
  font-size: 17px;
  line-height: 23px;
  height: 44px;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: -10px;
  }
}

.panel-group {
  margin-bottom: 8px;
}

.panel-heading {
  padding: 15px 15px 8px 15px;
}

.panel-title {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control {
  font-size: 12px;
}

.no-padding {
  padding: 0 !important;
}


/**
 * More / Less Button
 */

.more-info {
  overflow:hidden;
  height:auto;
}

.more-details {
  overflow:hidden;
  height:auto;
}

.btn-margin {
  margin: 15px;
}

.moreshow {
  overflow:visible;
}


/**
 * Month view
 */

.cal-event {
  width: 100%;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  word-break: break-word;
}

.today-marker {
  background-color: #cccccc;
}

.cal-event a{
  color: #ffffff;
}

.calendar-task {
  background-color: #519839;
}

.calendar-public-event-bc-club {
  background-color: #e54545;
}

.calendar-public-event-bc-cafe {
  background-color: #268ac3;
}

.calendar-internal-event-bc-club {
  background-color: #e98383;
}

.calendar-internal-event-bc-cafe {
  background-color: #52aadc;
}

.light-grey {
  background-color: #efefef;
}

.text-dark-grey {
  color: darkgrey;
}

/* event type 0 - default */
.marker-0 {
  color: #ffffff;
}

/* event type 1 - info only */
.marker-1 {
  color: #ffffff;
}

/* event type 2 - highlight / special */
.marker-2 {
  color: #ffffff;
}

/* event type 3 - live band/DJ/reading */
.marker-3 {
  color: #ffffff;
}

/* event type 4 - internal */
.marker-4 {
  color: #ffffff;
}

/* event type 5 - private party / Nutzung */
.marker-5 {
  color: #ffffff;
}

.centered {
  text-align: center;
}

/**
 * Week view
 */

.hide {
  overflow:hidden;
  height:0px;
}

.show {
  overflow:visible;
  height:auto;
}

.word-break {
  word-break: break-all;
}

.panel {
  margin-bottom: 0px !important;
}

.panel-title {
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.red {
  color: red;
}

.green {
  color: green;
}

.btn-small {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0px 6px;
  font-size: 10px;
  line-height: 1.846;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-small {
  margin-bottom: 0px;
  padding: 5px;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  vertical-align: top;
}


/**
 * System messages
 */

#centerpoint {
    left: 50%;
    position: absolute;
}

.alert-centered{
    position: relative;
    width: 100%;
    margin-left: -50%;
    z-index:999999;
        
}


/** 
 * ISOTOPE - animates the week view
 */

.isotope > * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.isotope:before {
  content: '';
  display: block;
  clear: both;
}

.element-item,
.grid-sizer {
  position: relative;
  float: left;
  width: 350px;
  margin: 10px;
  padding: 0px;
  white-space: normal;
  display: inline-block;
}

@media screen and (max-width : 480px) {
    .element-item,
    .grid-sizer {
      padding: 0px;
      margin: 3px;
      width: 98%;
    }
}
