/**
 * More / Less Button
*/

.more {
  overflow:hidden;
  height:181px;
}

.moreshow {
  overflow:visible;
  height:auto;
}


/**
 * Wochenansicht
*/

.hide {
  overflow:hidden;
  height:0px;
}

.show {
  overflow:visible;
  height:auto;
}

.word-break {
  word-break: break-all;
}

.panel-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel-title {
  word-wrap: break-word;
}

.red {
  color: red;
}

.green {
  color: green;
}

