/*******************************************************************************
 *
 * Padding
 *
 ******************************************************************************/


@media (max-width: 1000px) {
    .p-0-xs {
        padding: 0px;
    }
}


/*******************************************************************************
 *
 * Margins
 *
 ******************************************************************************/


.margin-right-8px {
    margin-right: 8px;
}

.margin-right-16px {
    margin-right: 16px;
}


/*******************************************************************************
 *
 * Manipulations
 *
 ******************************************************************************/

.move-to-bottom-left-corner {
    position: relative;
    margin-top: auto;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: -11px;
    float: left;
}

@media (max-width: 768px) {
    .move-to-bottom-left-corner {
        position: relative;
        margin-top: 1px;
        margin-right: -3px;
        margin-bottom: 0;
        margin-left: 7px;
        float:left;
    }
}
