<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
		Options +FollowSymLinks
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /vedst-dev/$1 [L,R=301]
	
	#Added this to eliminate 500 server error by all routes other than "/" - Maxim.
	RewriteBase /vedst-dev/

	
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
