/*******************************************************************************
 *
 * More / Less Button
 *
 ******************************************************************************/

.more-info {
    overflow: hidden;
    height: auto;
}

.more-details {
    overflow: hidden;
    height: auto;
}

.btn-margin {
    margin: 16px;
}

.moreshow {
    overflow: visible;
}
